:root {
  --font-choice: Courier, Arial;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #122e70;

  & a {
    color: var(--light-grey);
    text-decoration: none;
    justify-self: end;
  }
}

body {
  background-color: #141f38;
  color: #0a7df8;
}

main img {
  width: 185px;
}

button {
  padding: 0.5em 2em;
  background-color: #065fbe;
  color: white;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  border-radius: 5%;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

label img {
  filter: invert();
  background-color: #006edd;
  border-radius: 20px;
  margin-left: 2%;
}

footer {
  background-color: #122e70;
  text-align: center;
  color: var(--light-grey);
  text-decoration: none;
}

/*Class Declarations start here*/

/*media list declarations*/
.media-list {
  display: flex;
  flex-direction: column;

  margin: 2%;

  justify-content: center;
  align-items: center;
}

.media-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0a7df8;
  color: var(--light-grey);
  width: 60%;
  margin: 1%;
}

.desc {
  font-size: xxx-large;
  margin: 2%;
  align-self: center;
}

.delete-item {
  display: flex;
  align-self: center;
  margin: 1%;
  padding: 4%;
}

/*media list declarations*/

/*details declarations*/

.details-card {
  display: flex;
  justify-content: center;
  background-color: #003b75;
  color: var(--light-grey);
}

.userRating {
  position: relative;
  display: flex;
  justify-content: flex-end;
  left: 5%;
  top: 4%;
  width: 90%;
  border-radius: 15px 15px 0px 0px;

  background-color: #003b75;
  color: var(--light-grey);

  &>img {
    filter: invert();
    background-color: #006edd;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: -2%;
  }
}

/*details declarations*/

.attributions {
  width: 25%;
}

/*Class Declarations end here*/

/*ID Declarations start here*/

/*index declarations*/
#movie,
#popular,
#now_playing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  & a img {
    height: 85%;
  }
}

/*index declarations*/

#details-glance {
  display: flex;
  flex-direction: column;
  background-color: #012e5c;
  width: 50%;

  &>div {
    display: flex;
    flex-direction: row;
    margin: 2% 25%;
  }

  & div>div {
    margin-left: 5%;
    width: 80%;
  }

  &>p {
    margin: 2% 25%;
    text-align: left;
    width: fit-content;
    background-color: #003b75;
  }
}

#MovieTitle {
  font-weight: 800;
  width: 150%;
}

#api_rating {
  background-color: #003b75;
  padding: 15%;
  text-align: center;
}

/*rating System declarations*/
#comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;

  & img {
    width: 5%;
    height: auto;
    margin-right: 1%;
  }

  &>p {
    border: 10px solid #003b75;
    align-items: center;
    width: 50%;
    background-color: #012e5c;
    color: var(--light-grey);
  }

  &>div {
    display: flex;
    flex-direction: column;
    background-color: #003b75;
    width: 50%;
  }
}

#user {
  font-size: large;
  font-weight: 700;
}

#commented {
  background-color: #141f38;
  margin: 2%;
  height: 350px;
  overflow-y: scroll;

  &>p {
    background-color: #003b75;
    color: #d0d0d0;
    border-radius: 0px 0px 15px 15px;
    padding: 1%;
    margin: 1% 5% 5%;
  }
}

/*input box css*/
#commenterName {
  width: 30%;
  margin-left: 10%;
}

#commentText {
  width: 80%;
  align-self: center;

  min-height: 130px;
  max-height: 260px;

  resize: none;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: 16px;

  margin-bottom: 1%;
}

#postComment {
  width: 50%;
  align-self: center;
}

/*input box css*/

/*rating System declarations*/


/*ID Declarations end here*/