:root {
  --font-choice: Courier, Arial;
  /* colors */
  --primary-color: ;
  --secondary-color: ;
  --tertiary-color: ;
  --light-grey: #d0d0d0;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 420px) {
  /*Class Declarations start here*/

  /*media list declarations*/
  .media-list {
    display: flex;
    flex-direction: column;

    margin: 2%;

    justify-content: center;
    align-items: center;
  }

  .media-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0a7df8;
    color: var(--light-grey);
    width: 80%;
    margin: 1%;

    & > img {
      display: flex;
      align-self: center;
      width: 80%;
      margin-top: 2%;
    }
  }

  .delete-item {
    display: flex;
    align-self: center;
    margin: 1%;
    padding: 4% 40%;
  }

  /*media list declarations*/

  /*Class Declarations end here*/

  /*ID Declarations start here*/

  #details-glance {
    display: flex;
    flex-direction: column;
    background-color: #012e5c;
    width: 80%;

    & > div {
      display: flex;
      flex-direction: column;
      margin: 2% 25%;
    }

    & div > img {
      margin-bottom: 2%;
    }

    & div > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
    }

    & > p {
      display: flex;
      justify-content: center;
      margin: 2% 20%;
      text-align: left;
      background-color: #003b75;
    }
  }

  #MovieTitle {
    display: flex;
    font-weight: 800;
    width: 150%;
  }

  /*rating System declarations*/
  #comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;

    & img {
      width: 7%;
      height: auto;
      margin-right: 1%;
    }
  }

  #commented {
    display: flex;
    flex-direction: column;
    background-color: #141f38;
    margin: 2%;
    height: 350px;
    overflow-y: scroll;
  }

  /*rating System declarations*/

  /*ID Declarations end here*/
}
